*.iml
.gradle
/local.properties
.idea/
.vscode/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build/
scratch/
/build-apks/
*.apk
*.aab

# Prevent old legacy folders from appearing at root
/reports/
/tests/
/screenshots/
/releases/
