# Place your keystore password on the line below.
# Rename or copy this file to 'keystore-pass.txt' in this directory.
# 'keystore-pass.txt' is gitignored and will never be committed to Git.
morsego123
